<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="goodsorderApp.order.home.createOrEditLabel">Create or edit a Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!order.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.paymentCode" for="field_paymentCode">Payment Code</label>
                    <input type="text" class="form-control" name="paymentCode" id="field_paymentCode"
                           formControlName="paymentCode"/>
                    <div *ngIf="editForm.get('paymentCode').invalid && (editForm.get('paymentCode').dirty || editForm.get('paymentCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentCode').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.orderDate" for="field_orderDate">Order Date</label>
                    <div class="d-flex">
                        <input id="field_orderDate" type="datetime-local" class="form-control" name="orderDate" formControlName="orderDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="PENDING">{{'goodsorderApp.OrderStatus.PENDING' | translate}}</option>
                        <option value="CONFIRMED">{{'goodsorderApp.OrderStatus.CONFIRMED' | translate}}</option>
                        <option value="DEPOSITED">{{'goodsorderApp.OrderStatus.DEPOSITED' | translate}}</option>
                        <option value="PAID">{{'goodsorderApp.OrderStatus.PAID' | translate}}</option>
                        <option value="CANCELED">{{'goodsorderApp.OrderStatus.CANCELED' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.deliveryStatus" for="field_deliveryStatus">Delivery Status</label>
                    <select class="form-control" name="deliveryStatus" formControlName="deliveryStatus" id="field_deliveryStatus">
                        <option value="INIT">{{'goodsorderApp.DeliveryStatus.INIT' | translate}}</option>
                        <option value="PICKED_UP">{{'goodsorderApp.DeliveryStatus.PICKED_UP' | translate}}</option>
                        <option value="ON_BOARDING">{{'goodsorderApp.DeliveryStatus.ON_BOARDING' | translate}}</option>
                        <option value="ARRIVED">{{'goodsorderApp.DeliveryStatus.ARRIVED' | translate}}</option>
                        <option value="SENDING">{{'goodsorderApp.DeliveryStatus.SENDING' | translate}}</option>
                        <option value="DONE">{{'goodsorderApp.DeliveryStatus.DONE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.exchangeRateId" for="field_exchangeRateId">Exchange Rate Id</label>
                    <input type="text" class="form-control" name="exchangeRateId" id="field_exchangeRateId"
                           formControlName="exchangeRateId"/>
                    <div *ngIf="editForm.get('exchangeRateId').invalid && (editForm.get('exchangeRateId').dirty || editForm.get('exchangeRateId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exchangeRateId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.exchangeRate" for="field_exchangeRate">Exchange Rate</label>
                    <input type="number" class="form-control" name="exchangeRate" id="field_exchangeRate"
                           formControlName="exchangeRate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.totalJpyPrice" for="field_totalJpyPrice">Total Jpy Price</label>
                    <input type="number" class="form-control" name="totalJpyPrice" id="field_totalJpyPrice"
                           formControlName="totalJpyPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.deliveryFeeVnd" for="field_deliveryFeeVnd">Delivery Fee Vnd</label>
                    <input type="number" class="form-control" name="deliveryFeeVnd" id="field_deliveryFeeVnd"
                           formControlName="deliveryFeeVnd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.totalPayVnd" for="field_totalPayVnd">Total Pay Vnd</label>
                    <input type="number" class="form-control" name="totalPayVnd" id="field_totalPayVnd"
                           formControlName="totalPayVnd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.depositedVnd" for="field_depositedVnd">Deposited Vnd</label>
                    <input type="number" class="form-control" name="depositedVnd" id="field_depositedVnd"
                           formControlName="depositedVnd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.paidVnd" for="field_paidVnd">Paid Vnd</label>
                    <input type="number" class="form-control" name="paidVnd" id="field_paidVnd"
                           formControlName="paidVnd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.packingDate" for="field_packingDate">Packing Date</label>
                    <div class="input-group">
                        <input id="field_packingDate" type="text" class="form-control" name="packingDate" ngbDatepicker  #packingDateDp="ngbDatepicker" formControlName="packingDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="packingDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.estimatedDeliverDate" for="field_estimatedDeliverDate">Estimated Deliver Date</label>
                    <div class="input-group">
                        <input id="field_estimatedDeliverDate" type="text" class="form-control" name="estimatedDeliverDate" ngbDatepicker  #estimatedDeliverDateDp="ngbDatepicker" formControlName="estimatedDeliverDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="estimatedDeliverDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.deliveredDate" for="field_deliveredDate">Delivered Date</label>
                    <div class="input-group">
                        <input id="field_deliveredDate" type="text" class="form-control" name="deliveredDate" ngbDatepicker  #deliveredDateDp="ngbDatepicker" formControlName="deliveredDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveredDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.finishPaymentTime" for="field_finishPaymentTime">Finish Payment Time</label>
                    <div class="d-flex">
                        <input id="field_finishPaymentTime" type="datetime-local" class="form-control" name="finishPaymentTime" formControlName="finishPaymentTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                           formControlName="remark"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.address1" for="field_address1">Address 1</label>
                    <input type="text" class="form-control" name="address1" id="field_address1"
                           formControlName="address1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.address2" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                           formControlName="address2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.phone1" for="field_phone1">Phone 1</label>
                    <input type="text" class="form-control" name="phone1" id="field_phone1"
                           formControlName="phone1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.phone2" for="field_phone2">Phone 2</label>
                    <input type="text" class="form-control" name="phone2" id="field_phone2"
                           formControlName="phone2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.zipCode" for="field_zipCode">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                           formControlName="zipCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.district" for="field_district">District</label>
                    <input type="text" class="form-control" name="district" id="field_district"
                           formControlName="district"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.lastUpdatedAt" for="field_lastUpdatedAt">Last Updated At</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedAt" type="datetime-local" class="form-control" name="lastUpdatedAt" formControlName="lastUpdatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.payment" for="field_payment">Payment</label>
                    <select class="form-control" id="field_payment" name="payment" formControlName="payment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('payment').value?.id ? editForm.get('payment').value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackPaymentById">{{paymentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="goodsorderApp.order.merchant" for="field_merchant">Merchant</label>
                    <select class="form-control" id="field_merchant" name="merchant" formControlName="merchant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('merchant').value?.id ? editForm.get('merchant').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
