<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodsorderApp.shippingAddress.home.title">Shipping Addresses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipping-address" [routerLink]="['/shipping-address/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="goodsorderApp.shippingAddress.home.createLabel">
            Create new Shipping Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shippingAddresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.address1">Address 1</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.address2">Address 2</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.phone1">Phone 1</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.phone2">Phone 2</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.email1">Email 1</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.email2">Email 2</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.zipCode">Zip Code</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.city">City</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.district">District</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.defaultAddress">Default Address</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.createdAt">Created At</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.lastUpdatedAt">Last Updated At</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.createdBy">Created By</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.lastUpdatedBy">Last Updated By</span></th>
            <th><span jhiTranslate="goodsorderApp.shippingAddress.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shippingAddress of shippingAddresses ;trackBy: trackId">
                <td><a [routerLink]="['/shipping-address', shippingAddress.id, 'view' ]">{{shippingAddress.id}}</a></td>
                <td>{{shippingAddress.address1}}</td>
                <td>{{shippingAddress.address2}}</td>
                <td>{{shippingAddress.phone1}}</td>
                <td>{{shippingAddress.phone2}}</td>
                <td>{{shippingAddress.email1}}</td>
                <td>{{shippingAddress.email2}}</td>
                <td>{{shippingAddress.zipCode}}</td>
                <td>{{shippingAddress.city}}</td>
                <td>{{shippingAddress.district}}</td>
                <td>{{shippingAddress.defaultAddress}}</td>
                <td>{{shippingAddress.createdAt | date:'medium'}}</td>
                <td>{{shippingAddress.lastUpdatedAt | date:'medium'}}</td>
                <td>{{shippingAddress.createdBy}}</td>
                <td>{{shippingAddress.lastUpdatedBy}}</td>
                <td>
                    {{shippingAddress.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shipping-address', shippingAddress.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shipping-address', shippingAddress.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shipping-address', { outlets: { popup: shippingAddress.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
